<p>footer works!</p>
<h2>Other Interests:</h2>
<h3>Chess:</h3>
<p>Passionate about chess and participant in local events and competitions.
Constantly challenging myself to improve my strategic and critical thinking skills through chess gameplay.</p>
<h3>Boxing:</h3>
<p>Active member of the Dragon Boxing team, participating in training sessions and competitions.
I love the physical and mental challenge that boxing offers, as well as the discipline and teamwork it entails.</p>
<h3>Parkour:</h3>
<p>Enthusiast and practitioner of parkour, exploring and overcoming obstacles in a fluid and creative way.</p>
<p>I'm passionate about the freedom of movement and personal growth that parkour provides, while keeping myself physically
and mentally fit.</p>
<h3>These interests help me maintain a balance in my life, develop diverse skills, and cultivate my passion for learning and
personal growth.</h3>