<p>section works!</p>
<h2>Work Experience:</h2>
<h3>Floor Sales Representative - VANS</h3>
<h4>Period: [2017]</h4>
<h4>Responsibilities:</h4>
<p>Customer service, providing product guidance, and achieving weekly and monthly sales targets.</p>
<h3>Beehive Clothing</h3>
<h4>Period: [February 2018 to December 2021]</h4>
<h4>Responsibilities:</h4>
<p>Implementing rigorous quality control in all tasks and projects, ensuring the delivery of high-quality products and
services.</p>
<p>Actively participating in team meetings and presentations, contributing ideas and taking part in decision-making
processes.</p>
<h3>Full-Stack Developer - [iA-Healt / Front-end Lead]</h3>
<h4>Period: [April 2023]</h4>
<h4>Responsibilities:</h4>
<p>Development and maintenance of websites using front-end technologies such as HTML, CSS, JavaScript, TypeScript, and
Angular.</p>
<p>Collaboration with multidisciplinary teams in project implementation.</p>